<section class="four-room">
  <div class="container">
    <div class="_content__NoMLk">
      <h1 class="_title__rgXVV _m__CjUI0 _page_title__Qeq2S m__size">
        Замовляйте SIM-карту онлайн
      </h1>
      <div class="_paragraph__dPgLE _m__9jYJu m__size">
        Вибирайте тариф до вподоби, оформлюйте замовлення на сайті всього за
        кілька хвилин — і новенька SIM попрямує до вас.
      </div>
      <div class="_buttons_wrapper__G82yS">
        <a class="_button_scroll_wrapper__G50wc"
          ><button
            class="_button__X3Va5 button _button__hFYQD style-style-blank"
            style="width: 136px"
          >
            Контракт
          </button></a
        ><a class="_button_scroll_wrapper__G50wc"
          ><button
            class="_button__X3Va5 button _button__hFYQD style-1"
            style="width: 156px"
          >
            Передплата
          </button></a
        >
      </div>
    </div>
  </div>
</section>
