<section class="about-complex">
  <div class="container">
    <h2 class="visuality-hidden">About complex</h2>
    <div class="about-complex-top-wrap">
      <ul class="about-complex-img-list list">
        <li class="about-complex-item">
          <div class="about-complex-rewiew maria">
            <img
              loading="lazy"
              class="about-complex-rewiew-img"
              src="/images/about-complex/about-complex-maria@1x.png"
              alt="Maria"
            />
            <div class="about-complex-rewiew-wrap">
              <p class="about-complex-rewiew-name">Maria</p>
              <p class="about-complex-rewiew-rating">
                give rating <span>4.5</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="about-complex-sub-wrap">
        <h3 class="about-complex-suptitle">Думки наших клієнтів</h3>
        <p class="about-complex-top-text about-complex-base-text">
          Наші клієнти - наша гордість: дізнайтеся, чому вони обирають Київстар!
        </p>
      </div>
    </div>
    <div class="about-complex-desktop-wrap">
      <div class="about-complex-wrap">
        <div class="about-complex-rewiew alex">
          <div>
            <img
              loading="lazy"
              class="about-complex-rewiew-img"
              src="/images/about-complex//about-complex-alex@1x.png"
              alt="Alexander"
            />
          </div>
          <div class="about-complex-rewiew-wrap">
            <p class="about-complex-rewiew-name">Alexander</p>
            <p class="about-complex-rewiew-rating">
              give rating <span>5.5</span>
            </p>
          </div>
        </div>
      </div>
      <div class="about-complex-bottom-wrap">
        <div class="about-complex-text-wrap">
          <h3 class="about-complex-suptitle">Слова вдячності</h3>
          <p class="about-complex-top-text about-complex-base-text">
            Справжні враження від наших послуг: дивіться, чому наші клієнти
            віддають перевагу Київстару!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
