<section class="hero-main">
  <div class="container">
    <div class="bg-img-hero-main"></div>
    <h1 class="hero-main-title animate__animated animate__fadeInLeft">
      Київстар
    </h1>
    <div class="main-hero-text-wrapper">
      <p class="hero-main-text">
        З'єднуймо світ разом з <span class="italic">Київстаром</span>: ваш
        надійний зв'язок у сучасному світі!
      </p>
      <p class="hero-main-text">
        Інновації, які змінюють життя: обирайте
        <span class="italic">Київстар</span> для безмежних можливостей!
      </p>
    </div>
  </div>
</section>
