<section class="location">
  <div class="container location-container">
    <h2 class="location-title">Локація</h2>
    <div class="location-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325748.30596124637!2d29.848866689062508!3d50.368258000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cfdd45df04f3%3A0xee45c445b47361e8!2sKyivstar!5e0!3m2!1sen!2sua!4v1708968101539!5m2!1sen!2sua"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <address class="location-address">
      <p class="location-top-text">
        Ukraine, Kyiv,<br />
        St. Khreschatyk, 13
      </p>
      <div class="location-tel-container">
        <p class="location-bottom-text">call us:</p>
        <ul class="location-list list">
          <li class="location-item">
            <a href="tel:0955559533" class="location-link link"
              >(095) 555 95 33</a
            >
          </li>
          <li class="location-item">
            <a href="tel:0668491089" class="location-link link"
              >(066) 849 10 89</a
            >
          </li>
        </ul>
      </div>
    </address>
  </div>
</section>
