<section class="restaurants-details">
  <div class="restaurants-details-container container">
    <div class="restaurants-details-wrap">
      <h2 class="restaurants-details-title">
        Останні акції та спеціальні пропозиції від Київстару
      </h2>
      <p class="restaurants-details-text">
        Дізнайтеся першими про найгарячіші пропозиції та знижки від Київстару!
        Вигідні тарифні плани, спеціальні умови для смартфонів та послуги для
        бізнесу - все це та багато іншого чекає на вас. Підписуйтесь на наші
        новини та не пропустіть найкращі пропозиції!
      </p>
    </div>
    <ul class="restaurants-details-img-list list">
      <li class="restaurants-details-img-item">
        <img src="../img/1stak.png" alt="" />
      </li>
      <li class="restaurants-details-img-item">
        <img src="../img/2stak.png" alt="" />
      </li>
      <li class="restaurants-details-img-item desctop">
        <img src="../img/3stak.jpg" alt="" />
      </li>
    </ul>
  </div>
</section>
